@import "tailwindcss";

@theme{
    --color-primary : #f0f0f0;
    --color-secondry : #fcd34e;
    --color-links : #333;
    --color-title : #222222;
    --color-loading : #0078D4;
    --color-dashboardlinks :#f5f7fa ;


   

}